<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Log In</title>
	<link rel="icon" href="{% static 'images/demo-g.jpg' %}" type="image/jpg" sizes="16x16">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<div class="main-w3layouts wrapper">
		<h1>Log In</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="{% url 'treasurehunt:login' %}" method="post">
					{% csrf_token %}
					<input type="text" name="username" placeholder="Enter Username">
					<br>
					<input type="password" name="password" placeholder="Enter Password">
					<input type="submit" value="Login">
				</form>
				<!-- <form action="#" method="post">
					<input class="text" type="text" name="Username" placeholder="Username" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input type="submit" value="SIGNUP">
				</form> -->
				<p>Don't have an account? <a href="{% url 'treasurehunt:register' %}" style="color:#fffb14">Sign Up Here
						!</a></p>
			</div>
		</div>
	</div>
</body>

</html>